.carousel-container {
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  width: 800px;
  height: 400px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}